WebApplication1/Connected Services/MyService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50475/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50475/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50475/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:50475/CustomerService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomerRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerRecord" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomerRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerRecords" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecords" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SearchCustomerRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCustomerRecord" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SearchCustomerRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCustomerRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomerContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerContact" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomerContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerContactResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetData" message="tns:ICustomerService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetDataResponse" message="tns:ICustomerService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomerRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/AddCustomerRecord" message="tns:ICustomerService_AddCustomerRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/AddCustomerRecordResponse" message="tns:ICustomerService_AddCustomerRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerRecords" message="tns:ICustomerService_GetCustomerRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerRecordsResponse" message="tns:ICustomerService_GetCustomerRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteRecords" message="tns:ICustomerService_DeleteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteRecordsResponse" message="tns:ICustomerService_DeleteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustomerRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/SearchCustomerRecord" message="tns:ICustomerService_SearchCustomerRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/SearchCustomerRecordResponse" message="tns:ICustomerService_SearchCustomerRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerContact" message="tns:ICustomerService_UpdateCustomerContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerContactResponse" message="tns:ICustomerService_UpdateCustomerContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomerRecord">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/AddCustomerRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerRecords">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomerRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomerRecord">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/SearchCustomerRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerContact">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:50475/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>